/* Por defecto Max-width: 1920px


/* Por defecto Max-height: 953px*/

/* RESET */
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
}
p{
    color: #444;
}
.container{
    height: 210px;
    border-bottom: 8px solid rgb(16, 89, 156,80);
}
.container1{
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(16, 89, 156,80);
}
.contactos{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 15px;
    position: absolute;
    top: 20px;
    left: 0px;
}
.contactos p{
    color: #fff;
}
.Telefono{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.correo{
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* REDES_SOCIALES */
.redes{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: 210px;
    position: absolute;
    top: 20px;
    right: 30%;
}
/* INICIO Y REGISTRO */
.inicio_registro{
    width: 330px;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    position: absolute;
    top: 20px;
    right: 1.5%;
}
.inicio_registro a{
    text-decoration: none;
    position: relative;
    top: 10px;
}
/* BARRA DIVISORA */
#barra{
    font-size: 30px;
    position: relative;
    top: 2px;
}
.container2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 135px;
}
.logo{
    width: 200px;
    height: 135px;
    position: relative;
    top: 10px;
}
.logo a{
    width: inherit;
    height: inherit;
    position: absolute;
}

.logo img{
    width: 80%;
    position: relative;
    left: 15px;
}
.mostrar_menu,
.esconder_menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}
.mostrar_menu{
    order: 1;
}
.menu a:hover,
.mostrar_menu:hover,
.esconder_menu:hover{
    color: #10599C;
    text-decoration: underline;
}
#check{
    display: none;
}
.menu{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}
.menu a{
    color: #444;
    text-decoration: none;
    padding: 0px 30px;
    font-size: 22px;
    letter-spacing: 0.5px;
}
.Carrito{
    width: 54px;
    height: 55px;
    position: relative;
}
.Carrito a{
    width: inherit;
    height: inherit;
    position: absolute;
}
.Carrito img{
    position: relative;
    left: 7%;
}
.citas{
    width: 250px;
    height: 70px;
    display: flex;
    align-items: center;
    background:linear-gradient( to right, #0F5FA9 77% ,#053463 77%);
    box-shadow: 0px 1px 4px 0px rgba(68, 68, 68, 1);
    border-radius: 8px;
    position: relative;
}
.citas a{
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    top: 25px;
    left: 12%;
}
.citas img{
    position: absolute;
    right: 2.5%;
}
.inicio{
    margin-top: 20px;
    margin-left: 1%;
    width: 98%;
    height: 800px;
    position: relative;
    /* background-color: #444; */
    /* overflow: auto; */
}
.inicio img{
    width: 1028px;
    position: absolute;
    right: 0;
}

.texto{
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: absolute;
    left: 5%;
    top: 20%;
    text-align: justify;
    align-items: center;
}
.title{
    font-size: 28px;
    text-align: center;
}
.parrafo{
    width: 80%;
}
.cuadro1, .cuadro2{
    width: 75px;
    height: 80px;
    background-color: #006FFF;
    opacity: 45%;
}
.cuadro1{
    position: absolute;
    bottom: 0;
    right: 55.1%;
}

/*RECTANGULO ANARANJADO OSCURO*/
.cuadro3, .cuadro4{
    width: 240px;
    height: 60px;
    background-color: #F4B335;
    position: absolute;
}
.cuadro3{
    opacity: 52%;
    top: 0%;
    right: 52%;
}
.cuadro4{
    bottom: 20%;
    left: 0%;
}
.beneficios{
    width: 100%;
    height: 50px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    background-color: #0F5FA9;
}
.text_beneficios{
    /* background-color: blanchedalmond; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
    padding: 5px;
}
.contenido_beneficios{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    padding: 10px;
}
.contenido_beneficios h1{
    color: #444;
}
.contenido_beneficios p{
    text-align: justify;
    font-size: 17px;
}
.servicios{
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    /* background-color: #F4B335; */
}
.servicio{
    margin-top: 20px;
    width: 530px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    background-repeat: no-repeat;
    position: relative;
}
.servicio img{
    width: 535px;
    height: 358px;
}

.servicio:before{
    content: "";
    display: block;
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-color: rgba(0, 0, 0, 0.21);
}
.etiqueta{
    width: 300px;
    padding: 5px;
    text-align: center;
    font-size: 22px;
    position: absolute;
    right: 0%;
    bottom: 32%;
    background-color: rgba(27, 80, 129, 0.8) ;
}

/* FOOTER */
footer{
    background-color: rgb(16, 89, 156,80);
    min-height: 400px;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}
footer p, footer h3{
    color: #fff;
}
.contactos_pie, .ubi, .correo_pie{
    display: flex;
    align-items: center;
    gap: 20px;
}
.contenido{
    width: 93%;
    height: 300px;
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-bottom: 5px solid #fff;
    position: relative;
}
.siguenos{
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}
.redes_pie{
    margin-top: 20px;
}
.redes_pie img{
    height: 50px;
}
.div_debajo_footer{
    height: 80px;
    background: #444;
}
.Politicas{
    background: #444;
    position: absolute;
    right: 10%;
    bottom: 5%;
    padding: 5px;
    width: 370px;
    height: 80px;
    border-radius: 100px 5px 100px 80px;
}
.Politicas{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Politicas h3, .Politicas p{
    margin-top: 10px;
    margin-left: 15px;
    
}
/* BANNERS PRINCIPAL */
@keyframes slider{
    0%,20% {margin-left: 0%;}

    25% ,45%{margin-left: -100%;}

    50%,70%{margin-left: -200%;}
}
/* BANNERS CERCA DEL PIE DE PAG */
@keyframes sliders{
    0%,20% {margin-left: 0%;}

    25% ,45%{margin-left: -100%;}
}

@media (max-width: 1320px){
    .container2{
        justify-content: space-evenly;
    }
    .logo{
        width: 190px;
        height: 125px;
        position: relative;
        top: 5px;
    }
    .menu{
        position: relative;
    }
    .menu a{
        font-size: 18px;
    }
    .carrito{
        width: 50px;
        height: 50px;
        right: 0.5%;
    }
}

@media (max-width: 1200px){
    .redes{
        display: none;
    }
    .carrito{
        display: none;
    }
}

@media (max-width: 1150px){
    .contactos p{
        font-size: 14px;
    }
    .inicio_registro{
        width: 295px;
        font-size: 14px;
    }
    .citas{
        width: 210px;
        height: 65px;
    }
    .citas a{
        font-size: 18px;
        left: 10%;
    }
    .citas img{
        width: 18%;
    }

}
@media (max-width: 1100px){
    .logo{
        width: 150px;
        height: 105px;
        position: relative;
        top: 5px;
    }
    .menu a{
        padding: 0px 25px;
    }
}

@media (max-width: 1024px){
    .container1{
        height: 70px;
    }
    .container1 p{
        font-size: 12px;
    }
    .contactos{
        width: 460px;
    }
    .inicio_registro{
        width: 270px;
        font-size: 12px;
    }
    .menu a{
        font-size: 16px;
    }
    
}

@media (max-width:990px){
    .citas{
        width: 200px;
        height: 60px;
    }
    .citas a{
        font-size: 18px;
        left: 10%;
        top: 19px;
    }
}

@media (max-width:910px){
    .citas{
        display: none;
    }
}
@media (max-width: 768px){
    .contactos {
        width: 420px;
    }
    .contactos p{
        font-size: 11px;
    }
    .inicio_registro{
        width: 260px;
        font-size: 11px;
    }
    .mostrar_menu,
    .esconder_menu{
        display: block;
        position: absolute;
        left: 10%;
        color: #444;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #767676;
        right: 100%;
        top: 0;
        text-align: center;
        z-index: 100;
        transition: 0.8s;
        padding: 10px 0px;
        flex-direction: column;
        justify-content: space-around;
    }
    .menu a{
        display: block;
        color: #fff;
    }
    .esconder_menu{
        position: absolute;
        top: 50px;
        left: 60px;
    }
    #check:checked ~ .menu{
        right: 0;
    }
    .carrito{
        display: block;
        position: absolute;
        right: 10%;
    }
    .carrito img{
        width: inherit;
        height: inherit;
        position: absolute;
        left: 0%;
    }
}

@media (max-width: 680px){
    .container1{
        height: 65px;
    }
    .contactos{
        display: none;
    }
    .inicio_registro{
        position: absolute;
        top: 17px;
    }
}